<!-- 
Pós-Graduação Unisal 2016
Pagina HTML para atividade em sala de aula
Projeto de desenvolvimento de layout de página responsivo
Página de Formulário para coleta de dados de perquisa

Frameworks utilizados:
Bootstrap: Design, resposividade e comportamento das páginas
Angular: Comportamento e integrações com APIs web services rest
Stomp: Integração com APIs utilizando protocolo WebSocket

Gulp: Automatizados de tarefas de empacotamento e gerenciamento de dependencias
NPM: Gerenciador de dependencias e pacotes

-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Projeto Pós-Graduação Web Mobile Unisal 2016
		</title>

		<!-- Adicionando o arquivo CSS do framework Bootstrap que estamos utilizando -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">


		<!-- Adicionando o nosso arquivo CSS onde vamos colocar nosso CSS customizado para dar uma aparência diferente na página -->
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	<body data-ng-app='myApp'>

		<!-- Esse elemento HTML é o container principal da página-->
		<div class='container center-block'>
			
			<!-- Elemento html que determina o título da página-->
			<div class="page-header">
			  <h1>Formulário de Pesquisa <small></small></h1>
			</div>

			<!-- 
				Para a responsividade funcionar corretamente, o framework bootstrap recomenda sempre criar linhas "row" para alinhas o conteudo de acordo com os grids da página.
				Cada row criada contém 12 espaços que são 12 elementos do grid
			-->
			<div class="row">

				<!-- 
					Aqui criamos nossa coluna que é responsável por agrupar o formulário e os campos do formulário
					observe que utilizamos classes CSS "col-lg-6" que significa essa col quando em tamanho de tela lg (large) deve ocupar 6 espaços no grid. "lg" large, "md" medium, "sm" small.		
				-->	
				<div class="col-lg-6 col-md-8 col-sm-12">	

					<!-- Elemento oculto na página. É utilizado para exibir mensagem de erro de geolocation.-->
					<div class="alert alert-warning alert-dismissible" role="alert" id="geolocationMessage" >
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Atenção! Geolocation não suportada pelo seu navegador!</strong> 
					</div>

					<!-- Elemento oculto na página. É utilizado para exibir mensagem de sucesso no envio dos dados.-->
					<div class="alert alert-success alert-dismissible" role="alert" id="sucessMessage" >
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Sucesso! Dados do formulário enviados com sucesso!</strong> 
					</div>

					<!-- Criamos o elemento de Formulário-->		
					<form data-ng-submit="submit()" data-ng-controller="FormController">

					<!-- Elemento painel do bootstrap onde criamos um painel para servir como moldura dos dados do cliente entrevistado -->	
					<div class="panel panel-default">

						<!-- Elemento que determina o título do painel-->
						<div class="panel-heading">
							<h4>Dados do Cliente</h4>
						</div>

						<!-- Elemento que determina o conteúdo do painel com os dados do cliente-->
						<div class="panel-body">	

						

							<!-- Elemento campo idade do cliente -->	
						 	<div class="form-group">

						    	<label for="idade">Idade</label>

						    	<input type="number" class="form-control" id="idade" name="idade" placeholder="idade" data-ng-model="idade">

						  	</div>
							
							<!-- Elemento campo sexo do cliente -->
						  	<div class="form-group">

						    	<label for="sexo">Sexo</label>

						    	<select id="sexo" name="sexo" data-ng-model="sexo">
							  	<option value="MASCULINO">MASCULINO</option>
							  	<option value="FEMININO">FEMININO</option>
								</select>

						  	</div>
						</div>  	
					</div>	 

					<!-- Elemento que determina o painel com a pergunta a ser respondida pelo cliente entrevistado e o campo de resposta-->
					<div class="panel panel-default">
						
						<!-- Elemento que determina o título do painel-->
						<div class="panel-heading">
							<h4 id="textoPergunta">Você gostou do chocolate XYZ?</h4>
						</div>

						<!-- Elemento que determina o conteúdo do painel com os dados do cliente-->
						<div class="panel-body">
							<div class="form-group">

							    <label class="radio-inline">
								  <input type="radio" name="resposta" id="sim" value="SIM" data-ng-model="resposta"> SIM
								</label>

								<label class="radio-inline">
								  <input type="radio" name="resposta" id="nao" value="NAO" data-ng-model="resposta"> NÃO
								</label>

							</div>
				  		</div>	
  					</div>	

  					<!-- Elementos ocultos no formulário para obter os dados de geolocation HTML5-->
  					<input type="hidden" id="txtLongitude" name="longitude" ng-model="longitude"></input>
  					<input type="hidden" id="txtLatitude" name="latitude" ng-model="latitude"></input>	

  					<!-- Botão enviar dados do formulário -->	
  					<button type="submit" data-ng-click='submit'id="btnEnviar" class="btn btn-default">Enviar</button>

					</form>
				</div>
			</div>
		</div>	
	</div>
</body>
	
	<!-- Inclusão das libs dos frameworks que utilizamos. Os arquivos JS são adicionados ao final do arquivo HTML, essa prática tem o objetivo de melhorar a performance da página. O framework tem precedencia em relação aos outros frameworks pois ele é um framework base para os outros 2 frameworks utilizados. Tanto Bootstrap quando Angular JS utilizamo jQuery como base -->
	<script type="text/javascript" 
		src='lib/jquery/jquery.min.js'></script>

	<!-- Inclusão do Framework Bootstrap. Esse framework é quem faz para nós o trabalho de dar uma cara bonita para nossos elementos HTML na página e também cuida para que os elementos reajam de acordo com o tamanho da tela do usuário. É responsável pelo recurso de resposividade.-->	
	<script type="text/javascript" 
		src='lib/bootstrap/js/bootstrap.min.js'></script>

	<!-- Inclusão do Framework AngularJS para nos auxiliar na integração da página com a API web service que está esperando os dados coletados com o formulário -->	
	<script type="text/javascript" 
		src='lib/angular/angular.min.js'></script>

	<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de comportamento na página -->	
	<script type="text/javascript" 
		src='/js/main.js'></script>

	<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de geolocalização -->	
	<script type="text/javascript" 
		src='/js/geolocation.js'></script>

			<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de angularJS -->	
	<script type="text/javascript">


var app = angular.module('myApp', []);
app.controller('FormController', function($scope, $http) {
    	
    	$scope.idade = '';
    	$scope.sexo = 'MASCULINO';
    	$scope.resposta = false;
    	$scope.latitude = '';
    	$scope.longitude = '';


      	$scope.submit = function() {
      		
      		console.log($.param({
					            idade: $scope.idade,
					            sexo: $scope.sexo,
					            resposta: $scope.resposta,
					            latitude: $('#txtLatitude').val(),
					            longitude: $('#txtLongitude').val(),
					            pesquisa:{id:1}
					    }));

	        if ($scope.resposta) {
	          		/*"http://unisal.00mobile.com.br/api/dados" */
	          	    $http({
				        method : "POST",
				        url : "http://localhost:8080/api/dados",
				        data: JSON.stringify({
					            "idade": $scope.idade,
					            "sexo": $scope.sexo,
					            "resposta": $scope.resposta,
					            "latitude": $('#txtLatitude').val(),
					            "longitude": $('#txtLongitude').val(),
					            "pesquisa":{"id":1}
					    }),
				        headers: {'Content-Type': 'application/json'}
				   }).then(function mySucces(response) {
				        $scope.message = response.data;
				    }, function myError(response) {
				        $scope.message = 'Ops! Erro ao enviar dados para o servidor.';
				    });
	        }
      	};

});
	</script>


</html>